body {
	margin: 0;
	background-color: white;
	font-family: 'Courier New', Courier, monospace;
}

.content {
	padding: 20em;
	padding-top: 0px;
	padding-bottom: 0px;
	position: absolute;
}

h1 {
	padding-top: 1em;
	padding-bottom: 1em;
	width:100%;
	position: relative;
	background-color: #0bad77;
	border-radius: 25%;
}

p {
	text-align: justify;
	margin-bottom: 0;
}

p::first-letter {
  border-radius: 2px;
  font-size: 250%;
  padding: 6px 3px;
  margin-right: 6px;
  float: left;
}