body {
	margin: 0;
	background-color: white;
}

* {
	font-family: Palatino, URW Palladio L, serif ;
}

.content {
	padding: 20em;
	padding-top: 0px;
	padding-bottom: 0px;
	position: absolute;
}

h1 {
	padding-top: 1em;
	padding-bottom: 1em;
	width:100%;
	position: relative;
	border-radius: 25px;
	color: #137;
}

h2 {
	color: #137;
}

p {
	text-align: justify;
	margin-bottom: 0;
	border-left: 1px solid #137;
	padding-left: 1em;
}

li {
	color: #227;
}

p::first-letter {
  border-radius: 2px;
  font-size: 250%;
  padding: 3px 3px;
  margin-right: 6px;
  float: left;
  color: #137;
}